@use "../../assets/scss/ui/import" as *;;

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/images/home_background.png");
  background-size: cover;
  background-position: center;

  &_content {
    background-color: #ffffffcc;
    padding: 3rem;
    border-radius: 12px;
    box-shadow:
      0 16px 40px rgba(0, 0, 0, 0.2),
      0 8px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    display: grid;
    justify-items: center;

    h1 {
      font-size: 2rem;
      margin: 0;
      color: $darkText;
      margin-bottom: 3rem;
    }
  }
}
