/* UI Colour Variables */

/* Site Background */
$siteBackground: #242424; // dark grey

/* Backgrounds */
$primaryBackground: #115752;    // Teal
$secondaryBackground: #2e7d64; // Lighter moss green
$tertiaryBackground: #d5ceb5;   // Baige

/* Foregrounds */
$primaryForeground: #ffffff;    // White text on primary
$secondaryForeground: #ffffff;  // White text on secondary
$tertiaryForeground: #115752;   // Teal text on tertiary

/* Text */

$darkText: #242424; // dark grey;
$lightText: #ffffff;
$links: #d5ceb5;